<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Password Reset - Adun</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sign-in/">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'css/blogin.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/signin.css' %}">
    <style>
        /* Custom styles */
        body {
            background-color: lightblue; /* Set the light blue background color */
        }

        .card {
            background-color: rgba(0, 255, 255, 0.1); /* Set the card background to transparent white */
            border: none; /* Remove card border */
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
        }
    </style>
</head>

<body class="text-center">
<form method="post" class="form-signin">
    {% csrf_token %}
    <img class="mb-4" src="{% static '/img/IMG-20230620-WA0013.png' %}" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Password Reset</h1>

    <label for="email" class="sr-only">Email address:</label>
    <input type="email" id="email" class="form-control" name="email" placeholder="Enter your email address" required><br>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Reset Password</button>
    
    <p class="mt-4 text-center">
        Remember your password?
        <a class="font-medium underline underline-offset-2 hover:no-underline" href="{% url 'loginpage' %}">
            Log In
        </a>
    </p>
    <p class="mt-5 mb-3 text-muted">&copy; {{ current_year }}</p>
</form>
</body>
</html>
